.background {
    background-image: url(./assets/images/jake-hills-23LET4Hxj_U-unsplash.jpg);
    background-size: cover;
    background-position: center bottom;
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    height: 1000px;
}

.card-poster {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 250px;
    width: 175px;
    display: block;
}

.card {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    border-radius: 20px;
}